.loading-indicator-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.loading-icon-wrapper {
    height: 150px;
    width: 150px;
}

.path-1,
.path-2,
.path-17 {
    animation: fade-in-out 1s infinite forwards;
}

.path-3,
.path-4 {
    animation: fade-in-out 1.1s infinite forwards;
}

.path-5,
.path-6,
.path-16,
.path-15 {
    animation: fade-in-out 1.2s infinite forwards;
}

.path-7,
.path-8,
.path-14,
.path-13 {
    animation: fade-in-out 1.3s infinite forwards;
}

.path-9,
.path-10,
.path-11,
.path-12 {
    animation: fade-in-out 1.4s infinite forwards;
}

@keyframes fade-in-out {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes scale-up-down {
    0% {
        scale: 0.9
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 1.2;
    }
}