body {
  /* MacBook Pro 14" - 1 */
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background: linear-gradient(112.87deg, #6FFFFF 0%, #29D092 50.5%, #B96666 100%);

}

.App {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

