:root {
  --var-secondary-color: #252525;
  --var-primary-text-color: #646464;
  --var-accent-color: #78FCFC;
  --var-hover-color: #D4D4D4;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--var-primary-text-color)
}
