.web-link {
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(26, 125, 178);
    display: flex;
    align-items: center;
    transition: 0.05s;
}

.web-link:hover {
    opacity: 0.7;
}

.web-link svg {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.web-link p {
    margin: 0;
    font-size: 0.8rem;
}